[submodule "Vendor/SwiftyJSON"]
	path = Vendor/SwiftyJSON
	url = https://github.com/lingoer/SwiftyJSON.git
[submodule "Vendor/ExSwift"]
	path = Vendor/ExSwift
	url = https://github.com/pNre/ExSwift.git
